.mainContent,
.mainContent4 {
  .content {
    padding: 20px 0px;
    // width: 70%;

    // border: 1px solid green;
    .contentHeading {
      color: $orange;
      white-space: nowrap;
      font-weight: bold;
      font-size: 3vw;
      margin-left: 4%;
    }
    .contentPara {
      font-size: 1.3vw;
      margin-left: 4%;
      text-align: justify;
      width: 80%;
    }
    .content2Head {
      color: $lightBlue;
      margin-left: 4%;
      font-size: 1.8vw;
    }
    .orangeDiv {
      padding: 0px 0px 15px 0px;
      width: 80%;
      margin-left: 4%;
      background-color: $orange;
      .orangeHeading {
        color: white;
        margin-left: 4%;
        padding-top: 20px;
        font-size: 2.2vw;
        font-family: cursive;
      }
      .orangePara {
        width: 90%;
      }
    }
    .toogle {
      margin-top: 20px;
      font-weight: bold;
      margin-left: 4%;
      .toogleHead {
        margin-left: 0% !important;
      }
      .button_toogle {
        width: 84%;
        text-align: left;
        font-weight: bold;
        font-size: 20px;
        font-family: cursive;
        margin-bottom: 10px;
      }
      .item-1,
      .item-2,
      .item-3,
      .item-4,
      .item-5,
      .item-6,
      .item-7,
      .item-8,
      .item-9 {
        border: 1px solid;
        width: 84%;
        padding-left: 3.5%;
        padding-bottom: 20px;
        padding-top: 10px;
        font-weight: normal;
        font-size: 1.2vw;
        margin-bottom: 20px;
      }
      .item-3,
      .item-4,
      .item-5,
      .item-9 {
        padding-bottom: 0;
      }
      #learn {
        display: none;
      }
      .liOne,
      .liTwo,
      .liThree,
      .liFour,
      .liFive,
      .liSix,
      .liSeven,
      .liEight {
        display: none;
      }
    }
  }
}

// Responsive
@import "../Responsive/Main_Content/contentResponsive";
