@media (min-width: 1800px) {
  .main1 {
    .main1Pic {
      div {
        justify-content: space-evenly !important;
      }
      div:nth-of-type(2),
      div:nth-of-type(3),
      div:nth-of-type(4),
      div:nth-of-type(5),
      div:nth-of-type(6) {
        margin-top: 3%;
      }
      .main1Img {
        width: 29% !important;
      }
    }
  }
}

@media (max-width: $lg) {
  .main1 {
    .main1Pic {
      .main1Img {
        width: 30%;
      }
    }
  }
}

@media (max-width: $md) {
  .main1 {
    .main1Heading {
      font-size: 5vw !important;
    }
    .main1Para {
      font-size: 2vw !important;
    }
    // jobs
    .main1Heading2 {
      font-size: 2.5vw !important;
    }
    // jobs
    .main1Ul {
      margin-left: 6.3%;
      font-size: 1.7vw !important;
    }
    .main1Pic {
      div {
        margin-top: 0 !important;
      }
      div:nth-of-type(2),
      div:nth-of-type(3),
      div:nth-of-type(4),
      div:nth-of-type(5),
      div:nth-of-type(6) {
        margin-top: 3% !important;
      }
    }
  }
}

@media (max-width: $sm) {
  .main1 {
    .main1Heading {
      font-size: 5.8vw !important;
    }
    .main1Para {
      font-size: 3.9vw !important;
    }
    // jobs
    .main1Heading2 {
      font-size: 3.8vw !important;
    }
    // jobs
    .main1Ul {
      margin-left: 9% !important;
      font-size: 4vw !important;
    }
    // jobs
    .video1 {
      .videoDiv1 {
        width: 90%;
        height: 250px;
      }
    }
    //jobs
    .main1Pic2 {
      height: 100px;
    }
    //jobs
    .main1Pic3 {
      width: 90% !important;
    }
    .main1Pic {
      padding: 0 !important;
      div {
        align-items: center;
        flex-direction: column;
        // border: 1px solid;
        margin-top: 0 !important;
      }
      .main1Img {
        margin-top: 20px;
        width: 90% !important;
      }
    }
  }
}
