@media (min-width: 1800px) {
  .center {
    .links {
      .link {
        margin-top: 15px !important;
      }
    }
  }
}
@media (max-width: $md) {
  .center {
    .center-heading {
      font-size: 1.6vw !important;
    }
    .contact-numbers {
      .contact-number {
        font-size: 1.5vw !important;
      }
    }
  }
}
@media (max-width: $sm) {
  .center {
    position: static !important;
    .center-heading {
      font-size: 5.5vw !important;
    }
    .contact-numbers {
      .contact-number {
        font-size: 5vw !important;
      }
    }
    .links {
      .link {
        margin-top: 5px !important;
        font-size: 4vw !important;
      }
    }
  }
}
