// Screen Resolutions
$xxlg: 2560px;
$xlg: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 425px;
$xsm: 375px;
$xxsm: 320px;

// Borders
$border: 2px solid black;

// Colors
$orange: #ff9600;
$lightBlue: #005cb9;
$lightBlack: #303030;
$black: #161523;
$bl: #092d3b;
$lightgrey: #dfe4e7;
$grey: #666;
