@media (max-width: $md) {
  .main2Aside {
    .form2 {
      width: 95% !important;
    }
    .formHeading {
      font-size: 2vw !important;
    }
    .blogLabel {
      font-size: 1.5vw !important;
    }
  }
}

@media (max-width: $sm) {
  .main2Aside {
    .form2 {
      width: 90% !important;
      .formHeading {
        font-size: 5vw !important;
      }
      .blogLabel {
        margin-left: 13% !important;
        font-size: 3.5vw !important;
      }
    }
  }
}
