.services {
  padding: 0px 13px 30px 13px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0.9%;
  div {
    padding-bottom: 10px;
    width: 23.1%;
    margin-left: 1.51vw;
    margin-top: 20px;
    // border: 1px solid;
    .circle {
      display: block;
      margin: 20px 20px;
    }
    .service-title {
      margin-left: 20px;
      margin-top: -10px;
      font-size: 1.5vw;
      font-weight: bold;
      color: $lightBlue;
    }
    .service-paragraph {
      margin-left: 20px;
      //   font-size: 1.2vw;
    }
  }
}

// Responsive
@import "../Responsive/Services/servicesResponsive";
