@media (min-width: 1800px) {
  .main0 {
    .main2Para {
      width: 95% !important;
      font-size: 1.7vw !important;
    }
    .main2Sites {
      width: 95% !important;
    }
    .sites {
      .siteDiv {
        height: 580px !important;
      }
      .sitePic {
        height: 500px !important;
      }
    }
  }
}

@media (max-width: $lg) {
  .main0 {
    .sites {
      .siteDiv {
        height: 250px !important;
      }
      .sitePic {
        height: 200px !important;
      }
    }
  }
}
@media (max-width: $md) {
  .main0 {
    .main2Heading {
      font-size: 4vw !important;
    }
    .main2Para {
      width: 95% !important;
      font-size: 2.1vw !important;
    }
    .main2Sites {
      width: 95% !important;
    }
    .sites {
      .siteDiv {
        height: 190px !important;
      }
      .sitePic {
        height: 160px !important;
      }
      .sitePicHeading {
        font-size: 1.5vw !important;
      }
    }
  }
}

@media (max-width: $sm) {
  .main0 {
    .main2Heading {
      font-size: 5.65vw !important;
    }
    .main2Para {
      width: 95% !important;
      font-size: 3.7vw !important;
    }
    .main2Sites {
      width: 95% !important;
      .main2SiteHeading {
        font-size: 4vw !important;
      }
    }

    .sites {
      flex-direction: column;
      align-items: center;
      .siteDiv {
        margin-left: 0 !important;
        width: 80vw !important;
        height: 280px !important;
      }

      .siteDiv:nth-of-type(2),
      .siteDiv:nth-of-type(3) {
        margin-top: 20px;
      }
      .sitePicHeading {
        font-size: 4vw !important;
      }
      .sitePic {
        height: 250px !important;
        // case studies
        .sitePicHover {
          .hoverText2 {
            font-size: 5.5vw !important;
          }
          .hoverText1 {
            font-size: 4vw !important;
          }
        }
      }
    }
  }
}

@media (max-width: $xxsm) {
  .main0 {
    .main2Para {
      width: 95% !important;
      font-size: 4vw !important;
    }
    .sites {
      .siteDiv {
        height: 250px !important;
      }
      .sitePic {
        height: 200px !important;
      }
    }
  }
}
