@media (min-width: 1800px) {
  .pages-div {
    height: 100px !important;
  }
}

@media (max-width: $sm) {
  .pages-div {
    height: 45px !important;
  }
}

@media (max-width: $xsm) {
  .pages-div {
    height: 155px !important;
  }
}
