.content {
  .contentHeading4 {
    color: $orange;
    white-space: nowrap;
    font-weight: bold;
    font-size: 3.22vw;
    margin-left: 4%;
  }
  .heading {
    display: flex;
    align-items: center;
    // border: 1px solid;
    margin-left: 4%;
    .circle1 {
      position: relative;
      img {
        position: absolute;
      }
    }
  }
  .content2Head3 {
    color: $lightBlue;
    margin-left: 4%;
    font-size: 1.73vw;
  }
}

// Responsive
@import "../Responsive/Main_Content_Responsive/contentResponsive";
