.mainContent4 {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  // grid-template-rows: 1fr;
}
// content
@import "./content";

// Responsive
@import "../Responsive/Main_Content_Responsive/mainResponsive";
