.pagesName {
  position: absolute;
  height: auto;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .name {
    display: flex;
    width: 100vw;
    margin-left: 17vw;
    padding-top: 20px;
    // flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    // border: 1px solid red;
    font-size: 1.2vw;
    .link1 {
      // border: 2px solid;
      display: flex;
      align-items: center;
      border-right: 2px solid;
      height: 20px;
      padding-right: 1vw;
      padding-left: 1vw;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .link3 {
      white-space: nowrap;
    }
    .link2 {
      white-space: nowrap;
      border: 2px solid transparent;
      &:hover {
        text-decoration: none;
        cursor: default;
      }
    }
  }
}

// Responsive
@import "../Responsive/Pages/pageNameResponsive";
