@media (max-width: $md) {
  .content {
    .contentHeading5 {
      font-size: 3.39vw !important;
      width: 100% !important;
    }
  }
}

@media (max-width: $sm) {
  .content {
    .contentHeading5 {
      font-size: 6vw !important;
    }
  }
}
