* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables
@import "./Components/variables";
// Header
@import "./Components/Header/header";
// NavBar
@import "./Components/NavBar/nav";
// Introduction
@import "./Components//Introduction/introduction";
// About Company
@import "./Components/About/about";
// Services
@import "./Components/Services/services";
// Featured Work
@import "./Components/FeaturedWork/featuredWork";
// Blog
@import "./Components/Blog/blog";
// Clients
@import "./Components/Clients/clients";
