.centerText {
  //   border: 1px solid red;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .imageGoogle,
  .text {
    // border: 1px solid green;
    width: 97%;
  }
  .text {
    text-align: justify;
  }
}

// Responsive
@import "../../../Responsive/Main_Content/Components/Aside/centerTextResponsive";
