.pagesName {
  position: absolute;
  height: 100%;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .name {
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2vw;
    p {
      //   border: 2px solid;
      display: flex;
      align-items: center;

      border-right: 2px solid;
      height: 20px;
      padding-right: 1vw;
      padding-left: 1vw;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    p:nth-of-type(2) {
      border: 2px solid transparent;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

// Responsive
@import "../Responsive/Pages/pageNameResponsive";
